@font-face {
  font-family: 'Mesas';
  src:  url('fonts/Mesas.eot?x3v77r');
  src:  url('fonts/Mesas.eot?x3v77r#iefix') format('embedded-opentype'),
    url('fonts/Mesas.ttf?x3v77r') format('truetype'),
    url('fonts/Mesas.woff?x3v77r') format('woff'),
    url('fonts/Mesas.svg?x3v77r#Mesas') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="UDB-"], [class*=" UDB-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Mesas' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.UDB-Universidad_don_bosco:before {
  content: "\e900";
}
